body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0%;
  background-color: rgb(27, 26, 26);

}

code {
  font-family: 'Poppins', sans-serif;
}